body{
    display: grid;
    grid-template-areas: 'header'
                         'main'
                         'section';
    grid-template-rows: 30vh 15vh 40vh;
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-around;
}

header div{    
    width: 200px;
    height: 200px;
    background-color: black;
    justify-content: space-evenly;
}

h1{
    color: black;
    font-size: 100px;
    display: flex;
    justify-content: center;
}

main{
    grid-area: main;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.erradas{
    grid-area: section;
    display: flex;
    justify-content: space-around;
    color: white;
}