body{
    display: grid;
    grid-template-areas: 'nav nav'
                         'header header'
                         'main main'
                         'section section';
    grid-template-rows: 20vh 30vh 15vh 70vh;
    grid-template-columns: 50% 50%;
    margin: 0;
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-around;
}

header div{    
    width: 200px;
    height: 200px;
    background-color: black;
    justify-content: space-evenly;
}

h1{
    color: black;
    font-size: 100px;
    display: flex;
    justify-content: center;
}

main{
    grid-area: main;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
nav{
    align-items: center;
    background-color: rgb(158, 17, 17);
    display: flex;
    font-family: 'Anton', sans-serif;
    grid-area: nav;
    height: 45px;
    justify-content: center;
    padding: 0 10px;
}
nav img{
    width: 35px;
}
nav div p{
    color: white;
}
section{
    grid-area: section;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section .erradas{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

section .erradas .texto{
    width: 100%;
    height: 12%;
}

section .erradas .texto h2{
    text-align: center;
    color: black;
}

section .erradas .letras{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
section .erradas .letras h3{
    color: white;
    font-size: 30px;
}
section .boneco{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;

}

section .boneco img{
    height: 600px;
}